# This is a Systemd “Unit file” to create the system service.
# https://freedesktop.org/wiki/Software/systemd/

[Unit]
Description=Repetitor

[Service]
Type=simple
Environment=HOME=/root
WorkingDirectory=/var/www/repetitor
ExecStart=/usr/bin/make start

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
